.container {
  background-color: #f4f0ec;
  width: 100%;
  padding: 2rem;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 75rem;
}

.heading {
  font-size: 3.125rem;
  text-align: center;
  font-family: "DM Sans Serif";
}

.professionals {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}
