.navItems {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 75rem;
  margin: 2rem auto;
}

.navbar a {
  text-decoration: none;
  color: #292f36;
}
